@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h2>Edit</h2>

<h4>Edit this doctor: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DoctorId)

    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)

    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)

    @Html.LabelFor(model => model.Specialty)
    @Html.TextBoxFor(model => model.Specialty)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to doctors", "Index")</p>
