@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h4>Add a new patient</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)

    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)

    @Html.LabelFor(model => model.Birthday)
    @Html.TextBoxFor(model => model.Birthday, "{0:MM/dd/yyyy}", new { @type="date"})

    @Html.Label("Select doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Add new patient" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all patients", "Index")</p>